<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<pages controlRenderingCompatibilityVersion="4.0" />
	</system.web>
	
	<system.data>
		<DbProviderFactories>
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.4, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
	
	<entityFramework>
		<!-- http://www.nsilverbullet.net/2012/11/07/6-steps-to-get-entity-framework-5-working-with-mysql-5-5/ -->
		<defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity" />
	</entityFramework>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	
	<connectionStrings>
		<add name="MySqlConnRemote" connectionString="Server=mysql.agh.edu.pl;User Id=liszcz;Password=usFnsiUD;Database=liszcz;" providerName="System.Data.EntityClient" />
		<add name="MySqlConnLocal" connectionString="Server=localhost;User Id=liszcz;Password=usFnsiUD;Database=liszcz;" providerName="System.Data.EntityClient" />
		<add name="MySqlConn" connectionString="Server=127.0.0.1;User Id=liszcz1;Password=4Zs7NG95;Database=liszcz1;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	
</configuration>