<?xml version="1.0" encoding="utf-8"?>

<configuration>
	
	
	<system.web>
		
		<compilation debug="true" targetFramework="4.5" />
		
		<pages controlRenderingCompatibilityVersion="4.0" clientIDMode="Static" />

		<authentication mode="Forms">
			<forms loginUrl="Pages/Logon.aspx" name=".ASPXFORMSAUTH" />
		</authentication>

		<authorization>
			<deny users="?" />
			<allow users="*" />
		</authorization>
		
	</system.web>
	

	<system.webServer>

		<defaultDocument>
			<files>
				<clear />
				<add value="Pages/NavTest.aspx" />
			</files>
		</defaultDocument>
	
	</system.webServer>
	
	
	<system.data>
		<DbProviderFactories>
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.4, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>


  <runtime>


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


      <dependentAssembly>


        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-4.2.15.0" newVersion="4.2.15.0" />


      </dependentAssembly>


    </assemblyBinding>


  </runtime>

</configuration>